.ic_action {
	position:relative;
	width:30px;
	height:30px;
	margin-right: 5px;
	display: inline-block;
	border-radius: 50%;
	line-height: 2;
    text-align: center;
}

.ic_action i{
	
	text-align: center;
}


.act_delete{
	border:1px solid #ef5f51;
	color:#ef5f51;
}

.act_delete:hover{
	border:1px solid #ef5f51;
	color:#ef5f51;
}

.act_edit{
	border:1px solid #0ac282;
	color:#0ac282;
}

.act_edit:hover{
	border:1px solid #0ac282;
	color:#0ac282;
}


.act_view{
	border:1px solid #3498db;
	color:#3498db;
}

.act_view:hover{
	border:1px solid #3498db;
	color:#3498db;
}


.main-body .page-wrapper {
    padding: 1rem;}

    .main-body .page-wrapper .page-header {
    margin-bottom: 20px;
}

.txt_mandatory {
	color: red !important;
    font-size: 8px;
    margin-left: 3px;
    vertical-align: text-top;
}


.upload_wrapper {
        position: relative;
    width: 80%;
    text-align: center;
    margin: 0px auto;
}

.file-upload__label {
    display: block;
    padding: 1em 2em;
    color: #000 !important;
    padding: 15px;
    text-align: center;
    border: 1px dashed #6b6868;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: .16em;
    text-transform: uppercase;
    margin-bottom: 0px !important;
    transition: background .3s;
    margin: 0px auto;
    cursor: pointer;
}
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}


.pict_rounded {
	width: 120px;
	height: 120px;
	background: #eee;
	display: block;
	margin:0px auto;
	border-radius: 100%;

	margin-bottom: 20px;
}

.pict_rounded p {
	    padding: 45px 0 0 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ccc;
font-weight: 600;
}

.wizard>.steps .current a {
    outline: none  !important;
}

.wizard > .content > .body {
    float: left;
    position: relative !important;
    width: 100% !important;
    height: auto;
    padding: 2.5%;
}

.pad_l_0 {
    padding-left: 0px !important;
}